@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

body{
    background-color: #36393f;
    color: #ffffff;
    font-family: 'Ubuntu';
    margin: 0;
}

a{
    color: #00b0f4;
}

#content{
    padding-left: 10%;
}

/* Sidebar */
    .sidebar {
        margin: 0;
        padding: 0;
        width: 240px;
        background-color: #2f3136;
        position: fixed;
        height: 100%;
        overflow: auto;
    }

    /* Sidebar links */
    .sidebar a {
        display: block;
        color: #8e9297;
        padding: 16px;
        text-decoration: none;
    }
    .sidebar a:focus-visible, .sidebar a:focus{
        outline: 0px;
        background-color: rgba(79, 84, 92, 0.16);
        color: #dcddde;
    }

    /* Active link */
    .sidebar a.active {
        background-color: rgba(79,84,92,0.24);
        color: #ffffff;
    }

    /* Hovered link */
    .sidebar a:hover:not(.active) {
        background-color: rgba(79, 84, 92, 0.16);
        color: #dcddde;
    }

    /* Heading */
    .sidebar h1{
        margin: 8px;
        font-size: 18px;
    }

    /* Page content. The value of the margin-left property should match the value of the sidebar's width property */
    .content {
        margin-left: 240px;
        padding: 1px 16px;
    }
