@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

body{
    background-color: #36393f;
    color: #ffffff;
    font-family: 'Ubuntu';
}

code, pre{
    font-family: 'Ubuntu Mono';
}

a{
    color: #00b0f4;
}

#content{
    padding-left: 10%;
}

@media only screen and (max-width: 600px) {
    #content{
        padding-left: 0%;
    }
}
