/* Remove padding at small screen sizes */
@media screen and (max-width: 400px){
    #content{
        padding: 0%;
    }
    body{ /* Browser default */
        margin: 8px;
    }
}

/* Extra padding at large screen sizes */
@media screen and (min-width: 1000px){
    #content{
        padding-left: 20%;
        padding-right: 20%;
    }
}
